<header id="header">
  <div id="logo">
    <h2><a href="/">Insta</a></h2>
  </div>
  <div id="search">
    <input type="text" id="search-user" placeholder="Search-User" />
  </div>
  <div id="profile">
    <div class="dropdown visible">
      <div id="profile-btn"><a href="/<%=user.id%>">Profile</a></div>
      <div id="settings"><a href="/accounts/edit">Settings</a></div>
      <div id="logout">Logout</div>
    </div>
  </div>
  <div id="searched-user">
 
  </div>
</header>
